.content {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.main {
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.main h1 {
  align-self: center;
  text-align: center;
}

.empty-gallery-label {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
    overflow-y: auto;
  }

  .main {
    flex-direction: column;
    border-right: none;
    min-height: 0;
  }
}
