.sticker-list {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 100px;
  min-width: 100;
  min-height: 0;
  overflow-y: auto;
  gap: 10px;
  align-items: center;
  background: var(--sticker-bg);
}

.sticker-list label {
  align-self: center;
  margin-bottom: 10px;
  margin-top: 5px;
  border-bottom: 1px solid black;
}

.sticker-image {
  width: 80%;
  aspect-ratio: 1 / 1;

  display: block;

  object-fit: contain;

  cursor: pointer;
  outline: 1px solid white;
  box-shadow:
    0 0 0 2px black,
    0 2px 8px rgb(0 0 0 / 30%);

  filter: brightness(1.05);
  box-sizing: border-box;
  user-select: none;
}

@media (max-width: 700px) {
  .sticker-list label {
    display: none;
  }
  .sticker-list {
    width: 100%;
    height: auto;
    flex: 0 0 auto;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    padding: 8px 0;
  }

  .sticker-list label {
    display: none;
  }

  .sticker-image {
    width: 72px;
    height: 72px;
    flex: 0 0 72px;

    object-fit: contain;
  }
}

.sticker-image.selected {
  opacity: 0.6;
  outline: 3px solid white;
  outline-offset: -3px;
}

.sticker-image:hover {
  border: 1px solid white;
}
