.grid-controls {
  width: 60%;

  display: flex;
  gap: 20px;

  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

.page-button {
  position: static;
}

.page-info-label {
  position: absolute;
  right: 0px;
}
